Source: theharvester
Section: utils
Priority: extra
Maintainer: Devon Kearns <dookie@kali.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.7
Homepage: https://github.com/laramies/theHarvester
Vcs-Git: git://git.kali.org/packages/theharvester.git
Vcs-Browser: http://git.kali.org/gitweb/?p=packages/theharvester.git;a=summary

Package: theharvester
Architecture: all
Depends: ${misc:Depends}, python, python-requests
Description: tool for gathering e-mail accounts and subdomain names from public sources
 The package contains a tool for gathering e-mail accounts and subdomain names
 from different public sources.
