[Desktop Entry]
Name=theHarvester
Encoding=UTF-8
Exec=sh -c "python theHarvester.py;sudo -s"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-07-osint-analysis;

