#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export PYBUILD_BEFORE_TEST=cp proxies.yaml {build_dir}/proxies.yaml
export PYBUILD_AFTER_TEST= rm {build_dir}/proxies.yaml

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_install:
	dh_install
	# the setup doesn't install this script so install it manually and
	# rename it theHarvester to avoid circular import issue
	# see https://github.com/laramies/theHarvester/issues/401
	mv theHarvester.py debian/theharvester/usr/bin/theHarvester
